/* Estilos de los formularios */
#user-forms {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

#registration-form, #login-form {
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #fafafa;
}

/* Estilo de los formularios */
form label {
    display: block;
    margin: 5px 0;
}

form input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}




